.users {
  margin: 0.7rem;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  box-shadow: 0 0 1px #00000096;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  h5 {
    margin-bottom: 0 !important;
  }

  &:hover {
    box-shadow: 0 0 3px #0000004f;
  }
}

.list-unstyled {
  a,
  a:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
}

.bg {
  background-color: var(--background-color);
}

.user-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 800px) {
  .users {
    margin-left: 0;
  }
  h5 {
    font-size: 1rem;
  }

  .user-details {
    flex-direction: column;

    h5 {
      font-size: 1rem;
    }
  }
}
