{% include 'ecommerce/stuff_page/base.html' %}

{% block base %}



<div class="container mb-3">
    
    
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="container mb-3 ml-0">
                <a  class="btn btn-info" href="{% url 'all_product' %}">&#x2190; Back</a>
            </div>
            <div class="box-element">
                <div class="card card-small">
                    <form method="POST" class="needs-validation" novalidate enctype="multipart/form-data">{% csrf_token %}
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Product Information</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Product Name<span style="color:#cf000f"> *</span></label>
                                                <input type="text" class="form-control" name="product_name" required>
  
                                                <div class="invalid-feedback">Please provide a valid Name.</div>
                                                
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="feFirstName">Product Price<span style="color:#cf000f"> *</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                      <div class="input-group-text">৳</div>
                                                    </div>
                                                    <input type="number" class="form-control" name="product_price" required>
                                                    <div class="invalid-feedback"> Please provide a valid Price.</div>
                                                  </div>
                                            </div>
                                            
                                            
                                         </div>
                                         <div class="form-row">
                                            
                                            <div class="form-group col-md-6">
                                                <label>Product Type<span style="color:#cf000f"> *</span></label>
                                                <select class="form-control" name="product_type" required>
                                                    {% for type in product_type %}
                                                    <option value="{{type}}">{{type}}</option>
                                                    
                                                    {% endfor %}
                                                </select> 
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Product Image<span style="color:#cf000f"> *</span></label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="product_img" id="customFile" required>
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                    <div class="invalid-feedback">Please fill out this field.</div>
                                                </div>
                                                  
                                            </div>
                                            
                                            
                                         </div>
                                         <div class="form-row w-101">
                                            <div class="form-group col-md-12">
                                                
                                                <label>Discription<span style="color:#cf000f"> *</span></label>
                                                    <textarea class="form-control" type="text" rows="3" name="product_dis" required>{{product.discription}}</textarea>
                                                    <div class="invalid-feedback">Please fill out this field.</div>
                                                </div>
                                         </div>
                                         <div class="form-row mb-0">
                                            <input id="form-button" class="btn btn-success btn-block" type="submit" name="add_product" value="Submit">
                                         </div>
                                         
                                         
                            </div>
                        </li>
                    </ul>
                </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
   
</div>

{% endblock %}