<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

  <meta name="og:image" content="{% static 'image/tourday-og.png'%}" />
	<meta
	  name="og:description"
	  content="A platform where people can showcase their tours, share information, experiences & know more about tourist places in Bangladesh."
	/>
	<link
	rel="shortcut icon"
	href="{% static 'image/tourday-fav.png'%}"
	type="image/x-icon"
  />
	<title>TourDay Shop | Staff</title>


    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- bootstrap-validation -->
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    
    <!-- font  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.maateen.me/solaiman-lipi/font.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/css/main.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <style>
        .bg-company {
          background-color: #0D827D;
        }
      </style>

</head>
<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-sm bg-company navbar-dark fixed-top">
          <a class="navbar-brand" href="#">
            <img src="{% static 'image/tourday-nav.png'%}" height="30" class="d-inline-block align-top"
              alt="mdb logo">
            </a>
          <div class="container">
   
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <!-- <a class="nav-item nav-link" href="#">Home</a> -->
              
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                
                  
                  <a class="nav-item nav-link" href="{% url 'staff_pages' %}">Home</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                
                  
               
              </div>
            </div>
          </div>
        </nav>
      </header>

      <div style="margin-top: 5em;" >
    
        {% block base %}
        {% endblock %}

    </div>
    
    

</body>




</html>