<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

  <meta name="og:image" content="{% static 'image/tourday-og.png'%}" />
	<meta
	  name="og:description"
	  content="A platform where people can showcase their tours, share information, experiences & know more about tourist places in Bangladesh."
	/>
	<link
	rel="shortcut icon"
	href="{% static 'image/tourday-fav.png'%}"
	type="image/x-icon"
  />
	<title>TourDay Shop | Staff</title>


    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- bootstrap-validation -->
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    
    <!-- font  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.maateen.me/solaiman-lipi/font.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/css/main.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <style>
        .bg-company {
          background-color: #0D827D;
        }
      </style>

</head>
<body>

  
  <header class="site-header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'image/tourday-nav.png'%}" height="30" class="d-inline-block align-top"
            alt="mdb logo">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <!-- <a class="nav-item nav-link" href="">Home</a> -->
            
            
         
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
          
              
            <a class="nav-item nav-link" href="{% url 'staff_pages' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    
          </div>
        </div>
      </div>
    </nav>
  </header>



      <div style="margin-top: 5em;" >
    
        {% block base %}
        {% endblock %}

    </div>
    
    

</body>




</html>