
{% include 'ecommerce/stuff_page/base.html' %}

{% block base %}


<main role="main" class="container-fluid" style="margin-top: 5em;">
    
    <div class="row">
      <div class="col-md-3">
        <div class="content-section">
          <h3>Our Sidebar</h3>
          <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">

              <li class="list-group-item list-group-item-light"> <a href="#">Add Product</a> </li>
              <li class="list-group-item list-group-item-light"><a href="#">Order items</a></li>
    
            </ul>
          </p>
        </div>
      </div>
      <div class="col-md-1" >

      </div>

      <div class="col-md-8">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Account Details</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            <form method="POST"> 
                                {% csrf_token %} 
                                <div class="form-row">
                                  <div class="form-group col-md-12">
                                    <label for="feFirstName">Username<span style="color:#cf000f">
                                            *</span></label>
                                    <input type="text" class="form-control" required  value="#" name='' placeholder="Username" readonly> </div>
                                    <div class="form-group col-md-6">
                                        <label for="feFirstName">First Name<span style="color:#cf000f">
                                                *</span></label>
                                        <input type="text" class="form-control" required name='first_name' placeholder="First Name"> </div>
                                    <div class=" form-group col-md-6">
                                        <label for="feLastName">Last Name<span style="color:#cf000f">
                                                *</span></label>
                                        <input type="text" class="form-control" required name='last_name'  
                                            placeholder="Last Name"> </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="feEmailAddress">Email<span style="color:#cf000f">
                                                *</span></label>
                                        <input type="email" class="form-control" required name='email'  
                                            placeholder="Email"> </div>
                                    <div class="form-group col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="fePassword">Password</label>
                                            </div>
                                            <div class="form-check col-md-6 px-5 pb-2">
                                                <input class="form-check-input " type="checkbox"
                                                    name='passcheck' onclick="show_or_hide_password()"
                                                    id="check">
                                                <label class="form-check-label " for="defaultCheck1">
                                                    <small>Change Password</small>
                                                </label>
                                            </div>
                                        </div>
                                        <input type="password" class="form-control" name='password' id="password"
                                            placeholder="Password">
                                    </div>
                                </div>
                             
            
                                <button type="submit" name='submit_btn' class="btn btn-success">Update
                                    Account</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>
<!-- End Default Light Table -->
</div>

<div class="alert alert-danger alert-dismissible fade show mb-0" id='hidealert2' role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
</button>

</div>

<script type="text/javascript">

    var msg2 = document.getElementById("hidealert2");
    var checkbox = document.getElementById("check");
    var passfield = document.getElementById("password");
    
    function show_or_hide_password() {
    if (checkbox.checked == true) {
        passfield.disabled = false;
    } else {
        passfield.value = "";
        passfield.disabled = true;
    }
    }
    
    msg2.style.display = "none";
    passfield.disabled = true;
    
    
</script>



{% endblock %}