{% include 'ecommerce/stuff_page/base.html' %}

{% block base %}
<div class="container mt-4">
     
    <div class="box-element">
    <form method="POST">
      {% csrf_token %}
        <input class="form-control mt-2" name="search" type="text" placeholder=" Type something to search...ex. student id">
         
          <button type="submit" name="btn-search" class="btn btn-info mt-2">Search</button>
        
      </form>
    </div>
    <br>
    <div class="box-element">
        <legend class="container-fluid border-bottom mb-3 mt-1">Order list. </legend>
        <div class="cart-row">
            <div style="flex:1"><strong>Customer</strong></div>
            <div style="flex:1"><strong>Total Items</strong></div>
            <div style="flex:1"><strong>Total Money</strong></div>
            <div style="flex:1"><strong>Order ID</strong></div>
            <div style="flex:1"><strong>Status</strong></div>
            <div style="flex:1"><strong>Date</strong></div>
            <div style="flex:0.5"></div>
            
        </div>

                {% for order in  order %}
				<div class="cart-row">
					<div style="flex:1"><p>{{order.customer}}</p></div>
					<div style="flex:1"><p>{{order.total_items}}</p></div>
                    <div style="flex:1"><p>৳{{order.total_money}}</p></div>
                    <div style="flex:1"><p>{{order.order_id}}</p></div>
                    <div style="flex:1"><p>{{order.status}}</p></div>
                    <div style="flex:1"><p>{{order.date_ordered}}</p></div>
					<div style="flex:0.5">
						<button class="btn btn-info btn-sm">Details</button>	
					</div>
                    
				</div>
				{% endfor %}

        <div class="row md-4 mt-2">
            <!-- <div class="col-4">
                {% if result.has_previous %}
                <a href="?page={{ objects.previous_page_number }}" class="btn btn-info px-3 ">Page
                    {{ result.previous_page_number }}</a>{%endif%}
            </div> -->


            <div class="col-4">

            </div>


            <!-- <div class="col-4">
                {% if result.has_next %}
                <a href="?page={{ result.next_page_number }}" class="btn btn-info px-4 float-right">Page
                    {{ result.next_page_number }}</a>{%endif%}

            </div> -->
    </div>

</div>


{% endblock %}