{% include 'ecommerce/stuff_page/base.html' %}

{% block base %}
<div class="container mb-3">
    <a  class="btn btn-info" href="#">&#x2190; Back</a>
</div>
<div class="container">
    <div class="row">
	
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				
				<h5 style="display: inline-block; float: right"><strong>৳{{product.price}}</strong></h5>
                <br>
			</div>
        </div>

        <div class="col-lg-8">
            <div class="box-element">
                <div class="card card-small">
                    <form method="POST" class="needs-validation" novalidate enctype="multipart/form-data">{% csrf_token %}
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Product Information</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Product Name</label>
                                                <input type="text" class="form-control" name="product_name" value="{{product.name}}" required>
  
                                                <div class="invalid-feedback">Please provide a valid Name.</div>
                                                
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="feFirstName">Product Price</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                      <div class="input-group-text">৳</div>
                                                    </div>
                                                    <input type="number" class="form-control" name="product_price" value="{{product.price}}" required>
                                                    <div class="invalid-feedback"> Please provide a valid Price.</div>
                                                  </div>
                                            </div>
                                            
                                            
                                         </div>
                                         <div class="form-row">
                                            
                                            <div class="form-group col-md-6">
                                                <label>Product Type</label>
                                                <select class="form-control" name="product_type" required>
                                                    <option value="{{product.product_type}}">{{product.product_type}}</option> 
                                                    <option value="Shoes">Shoes</option>
                                                    <option value="Pant">Pant</option>
                                                    <option value="Shirt">Shirt</option>
                                                    <option value="Watch">Watch</option>
                                                </select> 
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Product Image</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="product_img" id="customFile" >
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                  </div>
                                            </div>
                                            
                                            
                                         </div>
                                         <div class="form-row w-101">
                                            <div class="form-group col-md-12">
                                                
                                                <label>Discription</label>
                                                    <textarea class="form-control" type="text" rows="3" name="product_dis" required>{{product.discription}}</textarea>
                                                    <div class="invalid-feedback">Please fill out this field.</div>
                                                </div>
                                         </div>
                                         <div class="form-row mb-0">
                                            <input id="form-button" class="btn btn-success btn-block" type="submit" name="product_edit" value="Submit">
                                         </div>
                                         
                                         
                            </div>
                        </li>
                    </ul>
                </form>
                </div>
            </div>
        </div>
	
	
	</div>
</div>


    

{% endblock %}