<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

   <style>
       
       h4 {
           padding-top: 50px;
           font-size: 16px;
       }
       p {
           font-size: 13px;
       }
       table {
        width:100%;
        }
        
        table, th, td {
            
            border-collapse: collapse;
        }
        th, td {
            font-size: 13px;
            padding: 2px;
            text-align: left;
        }
        
   </style>

</head>
<body>
    
    <div>
        <h4> <b> Your order Confirmed!</b></h4>

        <p> <strong>Hello, Chris</strong> <br>
            You order has been confirmed and will be shipped in next two days!
        </p> 
        <hr>
        
        <table style="width:100%">
            <tr>
                <th>Order Date</th>
                <th>Order No</th>		
                <th>Payment</th>
                <th>Shiping Address</th>
            </tr>
            <tr>
                <td>12 Jan,2018</td>
                <td>MT12332345</td>		
                <td>Cash On Delivery</td>
                <td>414 Advert Avenue, NY,USA</td>
            </tr>
            
            
        </table>

        <hr>

        <table style="width:100%">
            <tr>
                <th>*</th>
                <th>Product Name</th>		
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>image</td>
                <td>Men's Sports cap</td>		
                <td>1</td>
                <td>$77.50</td>
            </tr>

            <tr>
                <td>image</td>
                <td>Men's Collar T-shirt</td>		
                <td>5</td>
                <td>$55.65</td>
            </tr>
            <hr>
            
        </table>
        <hr>

        <table>
            <tr style="display: none;">
                <th>*</th>
                <th>Product Name</th>		
                <th>Quantity</th>
                <th>Amount</th>
            </tr>

            <tr style="margin-left: 175px;">
                <td style="margin-left: 190px;">Subtotal</td>
                <td>$168.50</td>
            </tr>

            <tr style="margin-left: 175px;">
                <td style="margin-left: 190px;">Shipping</td>
                <td>$0</td>
            </tr>
            <tr style="margin-left: 175px;">
                <td style="margin-left: 190px;">Tax</td>
                <td>$0</td>
            </tr>
            <tr style="margin-left: 175px;">
                <td style="margin-left: 190px;">Discount</td>
                <td>$0</td>
            </tr>
            
        </table>
        <hr>
        <table>
            <tr style="display: none;">
                <th>*</th>
                <th>Product Name</th>		
                <th>Quantity</th>
                <th>Amount</th>
            </tr>

            <tr style="margin-left: 175px;">
                <td style="margin-left: 190px;">Subtotal</td>
                <td>$168.50</td>
            </tr>
        </table>

    </div>

    <p style="margin-top: 100px;">We will be sending shipping confirmation email when the item shipped successfully!</p>
    <p><strong>Thanks for shopping with us!</strong> <br> Tourday Team</p>

</body>
</html>