{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    <link
      rel="shortcut icon"
      href="{% static 'image/logo.png'%}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="loader">
      <img src="{% static 'image/loader.gif'%}" alt="Loading" />
    </div>

    <nav id="nav">
      <ul class="menu">
        <li><a href="#">Search</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">E-commerce</a></li>
        <li><a href="{% url 'login_page'%}">Login</a></li>
        <li><a href="{% url 'signup_page'%}">Sign up</a></li>
      </ul>
    </nav>
    <div class="menu-mobile">
      <ul>
        <li><a href="#">Search</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">E-commerce</a></li>
        <li><a href="{% url 'login_page'%}">Login</a></li>
        <li><a href="{% url 'signup_page'%}">Sign up</a></li>
      </ul>
    </div>

    <link rel="stylesheet" href="{% static '_auth/css/login.css'%}" />

    <div class="container">
      <section>
        <div class="left">
          <img src="{% static 'image/logo.png'%}" id="logo" alt="logo" />
          <h1 id="sub-text">With You Wherever You <span>GO</span></h1>
        </div>
        <div class="right">
          <div class="form">
            {% block auth_template %} {% endblock %}
          </div>
        </div>
      </section>
    </div>
    <!-- Mobile logo and menu bar start -->
    <div class="mobile">
      <div class="logo">
        <img src="{% static 'image/logo.png'%}" alt="logo" />
      </div>
      <div class="menu-icon addColor"><div class="hambargur"></div></div>
      <div class="items" id="items"></div>
    </div>

    <!-- Mobile logo and menu bar end-->
  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
  <script>
    $(window).on("load", function () {
      setInterval(() => $(".loader").fadeOut(), 1000);
    });

    isCliked = false;
    document.querySelector(".menu-icon").addEventListener("click", () => {
      document.querySelector(".menu-icon").classList.toggle("active");
      document.querySelector("#items").classList.toggle("open");
      if (!isCliked) {
        document.querySelector(".menu-mobile").classList.toggle("showNav");
        document.querySelector(".menu-icon").classList.toggle("addColor");
        isCliked = true;
      } else {
        document.querySelector(".menu-mobile").classList.toggle("showNav");
        document.querySelector(".menu-icon").classList.toggle("addColor");
        isCliked = false;
      }
    });
  </script>
</html>
