{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    <link
      rel="shortcut icon"
      href="{% static 'image/logo.png'%}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="loader">
      <img src="{% static 'image/loader.gif'%}" alt="Loading" />
    </div>

    <nav id="nav">
      <ul class="menu">
        <li><a href="#">Search</a></li>
        <li><a href="{% url 'blog_home' %}">Blog</a></li>
        <li><a href="#">E-commerce</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login_page'%}">Login</a></li>
        <li><a href="{% url 'signup_page'%}">Sign up</a></li>
        {% else %}
        <li><a href="{% url 'logout'%}">Logout</a></li>
        {%endif%}
      </ul>
    </nav>
    <div class="menu-mobile">
      <ul>
        <li><a href="#">Search</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">E-commerce</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login_page'%}">Login</a></li>
        <li><a href="{% url 'signup_page'%}">Sign up</a></li>
        {% else %}
        <li><a href="{% url 'logout'%}">Logout</a></li>
        {%endif%}
      </ul>
    </div>

    <div class="container">
      <section>
        <div class="left">
          <!-- put left side content here -->
        </div>
        <div class="right">
          <div class="form">
            {% block auth_template %} {% endblock %}
          </div>
        </div>
      </section>
    </div>

    <div class="logo">
      <img src="{% static 'image/logo.png'%}" alt="logo" />
    </div>

    <!-- Mobile logo and menu bar start -->
    <div class="mobile">
      <div class="menu-icon addColor"><div class="hambargur"></div></div>
      <div class="items" id="items"></div>
    </div>

    <!-- Mobile logo and menu bar end-->

    <!-- error msg start-->
    <div class="error" style="display: none;">
      <img src="{%static 'icon/close.svg'%}" id="close-error" alt="X" />
      <h4 id="error-msg">Wrong Username or Password. Try again.</h4>
    </div>
    <!-- error msg  end-->
  </body>
  <script src="{% static 'js/jquery.js'%}"></script>
  <script src="{% static 'js/base.js'%}"></script>
  {% block scripts %}{%endblock%}
</html>
