{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static 'image/logo.png'%}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/layout.css'%}" />
    {%block css%}{%endblock%}
    <title>{% block title %}{%endblock%}</title>
  </head>
  <body>
    <nav id="nav">
      <ul class="menu">
        {% if request.user.is_authenticated %}
        <li>
          <a href="{% url 'portfolio' user.username %}"
            ><div style="display: flex; align-items: center;">
              {%if nav_img%}<img
                src="{{nav_img}}"
                width="20px"
                height="20px"
                style="border-radius: 50%; margin-right: 5px;"
              />{%endif%}{{request.user.username}}
            </div>
          </a>
        </li>
        {%endif%}
        <li><a href="{% url 'search_page'%}">Search</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">E-commerce</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login_page'%}">Login</a></li>
        <li><a href="{% url 'signup_page'%}">Sign up</a></li>
        {% else %}
        <li><a href="{% url 'logout'%}">Logout</a></li>
        {%endif%}
      </ul>
    </nav>
    <div class="menu-mobile">
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'portfolio' user.username %}">{{user.username}}</a>
        </li>
        {%endif%}
        <li><a href="{% url 'search_page'%}">Search</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Event</a></li>
        <li><a href="#">E-commerce</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login_page'%}">Login</a></li>
        <li><a href="{% url 'signup_page'%}">Sign up</a></li>
        {% else %}
        <li><a href="{% url 'logout'%}">Logout</a></li>
        {%endif%}
      </ul>
    </div>
    <div class="logo">
      <a href="{% url 'search_page'%}">
        <img src="{% static 'image/logo.png'%}" alt="logo"
      /></a>
    </div>

    <!-- Mobile logo and menu bar start -->
    <div class="mobile">
      <div class="menu-icon addColor"><div class="hambargur"></div></div>
      <div class="items" id="items"></div>
    </div>

    <div class="parent">
      <div class="left-menu">
        <ul>
          {% if not user.is_authenticated %}
          <a href="{% url 'login_page'%}"><li><i class="material-icons">login</i><span>Login</span></li></a>
          <a href="{% url 'signup_page'%}"><li><i class="material-icons">input</i><span>Sign up</span></li></a>
          {%else%}
          <a href="{% url 'portfolio' user.username %}"
            ><li>
              <img
                src="{{nav_img}}"
                width="20px"
                height="20px"
                style="border-radius: 50%; margin-right: 5px;"
              />{{request.user}}
            </li></a
          >
          {%endif%}
          <a href="{% url 'search_page'%}"><li><i class="material-icons">search</span></i><span>Search</span></li></a>
          <a href="#"><li><i class="material-icons">article</i><span>Blog</span></li></a>
          <a href="{% url 'event_dashboard'%}"><li><i class="material-icons">explore</i><span>Event</span></li></a>
          <a href="#"><li><i class="material-icons">add_shopping_cart</i><span>E-commerce</span></li></a>
          {% if user.is_authenticated %}
          
          <a href="{% url 'logout'%}"
            ><li><i class="material-icons">login</i><span>Logout</span></li></a
          >
          {%endif%}
        </ul>
      </div>
      <div class="content">{% block content %} {% endblock %}</div>
      <div class="ads">
        <div class="card_ad">Adds herer</div>
      </div>
    </div>

    <!-- error msg start-->
    <div class="error" style="display: none;">
      <img src="{%static 'icon/close.svg'%}" id="close-error" alt="X" />
      <h4 id="error-msg">Wrong Username or Password. Try again.</h4>
    </div>
    <!-- error msg  end-->
  </body>

  <script src="{% static 'js/jquery.min.js' %}"></script>

  <script src="{% static 'js/base.js'%}"></script>
  {% block scripts %}{%endblock%}
</html>
