.root {
  width: 100%;
  background-color: rgba(165, 42, 42, 0.034);
  z-index: 100;
  background-color: var(--background-color);
  padding: 0;
}
.head-image {
  min-width: 60vw;
  position: relative;
  img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
}

.event-info {
  text-align: center;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 18rem;
  color: white;
  text-shadow: 2px 2px 10px black;
  h1 {
    font-weight: 600;
  }
  h5 {
    font-weight: 600;
  }
}
.edit-event {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7rem;
  padding-right: 1rem;

  text-shadow: 2px 2px 10px black;
  i {
    cursor: pointer;
    padding: 0.2rem;
  }
}

.login_signup_link {
  font-size: 1.2rem;
  a:hover {
    color: var(--primary-dark-color);
  }
}

.event-details {
  padding: 2rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  white-space: pre-line;
  user-select: text;
}
.copy {
  position: relative;
  margin-bottom: 1rem;
  i {
    position: absolute;
    margin-top: -4px;
    margin-left: 1rem;
    cursor: pointer;
  }
}

#img-preview {
  display: flex;
  align-items: center;
}

#preview-close {
  cursor: pointer;
}
.event-going {
  text-align: center;
  font-size: 1.2rem;
  span {
    font-size: 2.2rem;
    font-weight: 600;
  }
}

.section-root,
.transtaction {
  display: flex;
  justify-content: space-evenly;
  margin: 0 1.5rem;
}
.my-card {
  margin: 1rem;
  width: 100%;
}
.mycard-header {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    span {
      padding-top: 2px;
      margin: 0 0.5rem;
    }
  }
}

.mycard-body {
  padding: 0;
}

.travelers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 3rem;
  margin-bottom: 0.4rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
  h5 {
    margin: 0 1rem;
  }
  img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
  }
}

.cancel,
.cancel:hover {
  background-color: var(--secondary-color);
  margin-left: 0.5rem;
}

.accept,
.accept:hover {
  background-color: #004d40;
}

.accept {
  margin-left: 0.5rem;
}

.bg-white {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 2px #00000024;
}
.btn:focus {
  box-shadow: none !important;
}
.card-body a,
.card-body a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 800px) {
  .travelers {
    flex-direction: column;

    h5 {
      font-size: 1rem;
      margin-top: 2px;
    }

    img {
      max-width: 50px;
      max-height: 50px;
      margin-bottom: 0.5rem;
    }
  }
  .actions {
    margin-top: 0.3rem;
  }
  .section-root,
  .transtaction {
    margin: 0 0.5rem;
  }

  .my-card {
    margin: 1rem 0.5rem;
  }
}
