{% extends 'blog/base.html' %}
{% block blog %}
<div class="col-lg-8 px-md-5 py-5">
    <div class="row pt-md-4">
        <h1 class="mb-3">{{details_obj.title}}</h1>

  <img src="{{details_obj.image.url}}" alt="" class="img-fluid">

<p><br>{{details_obj.description | safe}}</p>

<div class="tag-widget post-tag-container mb-5 mt-5">
  <div class="tagcloud">
    <a href="#" class="tag-cloud-link">Like</a>
    <a href="#" class="tag-cloud-link">Unlike</a>
   
  </div>
</div>

<div class="about-author d-flex p-4 bg-light">
  <div class="bio mr-5">
    <img src="{{details_obj.blog_user.profile.picture.url}}" alt="Image placeholder" class="img-fluid mb-4">
  </div>
  <div class="desc">
    <h3>{{details_obj.blog_user.profile.name}}</h3>
    <p>{{details_obj.blog_user.profile.bio}}</p>
  </div>
</div>

  <div class="fb-comments mt-3" data-href="http://127.0.0.1:8000/blog/details/{{details_obj.id}}" data-numposts="5" data-width="608"></div>


    </div><!-- END-->
</div>

{% endblock %}
