{% extends 'blog/base.html' %}
{% block blog %}
<div class="col-lg-8 px-md-5 py-5">
  {% if details_obj.blog_user == user %}
  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'blog_edit' details_obj.id %}"><button type="button" class="btn btn-success">Update</button></a>
      
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a href="{% url 'blog_delete' details_obj.id %}" onclick="return confirm('Are you sure you want to delete this item?');"><button type="button" class="btn btn-danger">Delete</button></a>
      
    </div>
  </div>
  {% endif %}

    <div class="row pt-md-4">
      
      <br>
        <h1 class="mb-3">{{details_obj.title}}</h1>
       
      

  <img src="{{details_obj.image.url}}" alt="" class="img-fluid">

<p><br>{{details_obj.description | safe}}</p>

<div class="tag-widget post-tag-container mb-5 mt-5">
  <div class="tagcloud">
    <a href="#" class="tag-cloud-link">Like</a>
    <a href="#" class="tag-cloud-link">Unlike</a>
   
  </div>
</div>

<div class="about-author d-flex p-4 bg-light">
  <div class="bio mr-5">
    <img src="{{details_obj.blog_user.profile.picture.url}}" alt="Image placeholder" class="img-fluid mb-4">
  </div>
  <div class="desc">
    <h3>{{details_obj.blog_user.profile.name}}</h3>
    <p>{{details_obj.blog_user.profile.bio}}</p>
  </div>
</div>

  <div class="fb-comments mt-3" data-href="http://127.0.0.1:8000/blog/details/{{details_obj.id}}" data-numposts="5" data-width="608"></div>


    </div><!-- END-->
</div>

{% endblock %}
