{% extends 'blog/base.html' %}
{% block blog %} 

<div class="col-xl-8 px-md-5 py-5">
    <div class="row pt-md-4">
       
        <div class="col-md-12">
            {% for post in allpost %}
            <div class="blog-entry-2 ftco-animate">
                <a href="single.html" class="img" style="background-image: url({{post.image.url}});"></a>
                <div class="text pt-4">
          <h3 class="mb-4"><a href="#">{{post.title}}</a></h3>
          <p class="mb-4">{{post.description | safe |truncatewords:40}}</p>
          <div class="author mb-4 d-flex align-items-center">
                <a href="#" class="img" style="background-image: url({{post.blog_user.profile.picture.url}});"></a>
                <div class="ml-3 info">
                    <span>Written by</span>
                    <h3><a href="#">{{post.blog_user}}</a>, <span>{{post.date}}</span></h3>
                </div>
            </div>
          <div class="meta-wrap d-md-flex align-items-center">
              <div class="half order-md-last text-md-right">
                  <p class="meta">
                      <span><i class="icon-heart"></i>3</span>
                      <span><i class="icon-eye"></i>100</span>
                      <span><i class="icon-comment"></i>5</span>
                  </p>
              </div>
              <div class="half">
                <a href="{% url 'blog_details' post.id %}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a>
              </div>
          </div>
        </div>
            </div>
            {% endfor %}
        </div>
    </div><!-- END-->


    {% if allpost.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ allpost.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in allpost.paginator.page_range %}
      {% if allpost.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > allpost.number|add:'-3' and num < allpost.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if allpost.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ allpost.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ allpost.paginator.num_pages }}">Last</a>
    {% endif %}
 
</div>
{% endblock %}