<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="og:image" content="{% static 'image/tourday-og.png'%}" />
	<meta
	  name="og:description"
	  content="A platform where people can showcase their tours, share information, experiences & know more about tourist places in Bangladesh."
	/>
	<link
	rel="shortcut icon"
	href="{% static 'image/tourday-fav.png'%}"
	type="image/x-icon"
  />
	<title>Ecommerce | TourDay</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<script src="https://use.fontawesome.com/155fafdff7.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'ecommerce/css/main.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<style>
		.dropdown-item:hover {
			color: white;
			background-color: #17a2b8;
		}
	</style>

	
	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">
			<img src="{% static 'image/logo.png'%}" height="30" class="d-inline-block align-top"
			  alt="mdb logo">
		  </a>

		  <form class="form-inline my-1">
			<div class="md-form form-sm my-0">
			  <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search"
				aria-label="Search">
			</div>
			<button class="btn btn-info btn-sm" type="submit">Search</button>
		  </form> 

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
			
			<li class="nav-item dropdown" style="cursor: pointer;list-style: none;color: white;" >
				<a class="nav-link dropdown-toggle" data-toggle="dropdown"
				  aria-haspopup="true" aria-expanded="false">List</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-info">
					{% for product_type in product_type %}
				  <a class="dropdown-item" href="#">{{product_type}}</a>
				  {% endfor %}
				</div>
			  </li>
	 
		</ul>
		
	    <div class="form-inline my-2 my-lg-0">

			<li class="nav-item dropdown" style="cursor: pointer;list-style: none;color: rgb(241, 232, 232);" >
				<a class="nav-link dropdown-toggle" data-toggle="dropdown"
				  aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
				    </a>
				  
				<div class="dropdown-menu dropdown-menu-right dropdown-info" >
					<a class="dropdown-item" href="{% url 'store' %}">Home</a>
					{% if request.user.is_staff %}
					<a class="dropdown-item" href="{% url 'user_order' %}">My Orders</a>
					<a class="dropdown-item" href="{% url 'staff_pages' %}">Saff Account</a>
					<hr>
					<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
					{% else %}
					{% if request.user.is_authenticated %}
				
					<a class="dropdown-item" href="{% url 'portfolio' request.user %}">My account</a>
					<a class="dropdown-item" href="{% url 'user_order' %}">My Orders</a>
					<hr>
					<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
						{% else %}
						<a class="dropdown-item" href="{% url 'login_page' %}">Login</a>
						<hr>
						<a class="dropdown-item" href="{% url 'staff_pages' %}">Saff Login</a>
						
					{% endif%}
				  {% endif %}
				</div>
				
			  </li>

	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'ecommerce/images/cart.png' %}">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p>

	    </div>
	  </div>
	</nav>

     <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
         </div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'ecommerce/js/cart.js' %}"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
		  $('input[name=colorCheckbox]:radio').change(function(e) {
			let value = e.target.value.trim()
		
			$('[class^="form-payment"]').css('display', 'none');
		
			switch (value) {
			  case 'payment':
				$('.form-payment').show()
				break;
			  case 'cashOndelivery':
				$('.form-payment').hide()
				break;
			  default:
				break;
			}
		  })
		})
		
		</script>
		
		
</body>
</html>
