{% extends 'ecommerce/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="box-element d-flex">
                <div>
                    <img class="img-fluid rounded-circle" src="https://ds.rokomari.store/rokomari110/user/bd34bf0dd1094_106593.jpg" alt="" width="70px">
                </div>
               
               <div class="ml-3">
                <p>Hello,</p>
                <h4>Partha Kumar Bagchi</h4>
               </div>
 
        </div>
           
        
    </div>
    <div class="col-md-0.5"></div>
    <div class="col-md-8">
        <div class="box-element">
            This is a man
        </div>
    </div>
</div>

{% endblock content %}