:root {
  --visited-color: rgb(148, 8, 8);
}

#path5 {
  fill: var(--visited-color) !important;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

svg {
  max-width: auto;
  max-height: 70vh;
}

.scaling-svg-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.visited {
  fill: var(--visited-color) !important;
  transition: all 0.2s ease-in;
}

.info-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}
.box {
  height: 12px;
  width: 12px;
  background-color: #e36e79;
  margin-left: 5px;
}

.close-con {
  display: flex;
  justify-content: flex-end;
}

.close {
  padding-right: 10px !important;
  padding-top: 5px !important;
}
