body {
  background-color: var(--background-color);
  background-image: none;
  min-height: 0;
}
a,
a:visited,
a:focus,
a:active,
a:hover {
  outline: 0 none !important;
}
.parent {
  width: 100%;
  display: grid;
  grid-template-areas: "content content  ads";
  margin-top: 0.5rem;
}

.menu-mobile {
  top: 25px;
}
.menu-mobile ul li a {
  font-size: 18px;
}
.my-btn {
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.8rem;
  outline: none;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.my-btn:hover {
  background-color: var(--primary-dark-color);
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0 0 8px #1a1a1aa8;
  box-shadow: 0 0 8px #1a1a1aa8;
}

.my-btn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.content {
  grid-area: content;
}

.ads {
  grid-area: ads;
  background-color: crimson;

  text-align: center;
  color: beige;
}

@media (max-width: 800px) {
  .parent {
    grid-template-areas:
      "content"
      "  ads";
    margin-top: 4rem;
  }
  html {
    font-size: 16px;
  }
}
