{% extends 'base.html' %}{% load static %} {% block auth_template %}
<link rel="stylesheet" href="{% static '_auth/css/login.css'%}" />

<title>TourDay | Forget Password</title>

<form>
  <div class="form-control">
    <h3 id="forget-title">Forget Password</h3>
    <label for="username">Username or Email:</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Enter username or email"
    />
  </div>

  <div id="input-box">
    <div><a href="{% url 'login_page'%}">Back to Login</a></div>
    <button class="btn" id="getcode">Get Code</button>
  </div>
</form>

{%endblock%} {% block scripts%}
<script src="{% static '_auth/js-min/forgetpassword.js'%}"></script>
{%endblock%}
