{% extends 'base.html' %}{% load static %} {% block auth_template %}

<div class="form-control">
  <label for="username">Username:</label>
  <input
    type="text"
    name="username"
    id="username"
    placeholder="Enter username or email"
  />
</div>

<div class="form-control">
  <label for="username">Password:</label>
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Enter password"
  />
</div>

<div id="input-box">
  <div><a>Forget Password?</a></div>
  <button class="btn">Login</button>
</div>
<div class="social-auth">
  <img src="{% static 'image/fb.png'%}" alt="FB logo" />
  <p>Login with Facebook</p>
</div>
<div class="social-auth">
  <img src="{% static 'image/google.png'%}" alt="Google logo" />
  <p>Login with Google</p>
</div>

{%endblock%}
