{% extends 'base.html' %}{% load static %} {% block auth_template %}


<title>TourDay | Login</title>
<form method="POST">
  {% csrf_token%}
  <div class="form-control">
    <h3 id="forget-title">Login</h3>
    <label for="username">Username:</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Enter username or email"
      required
    />
  </div>

  <div class="form-control">
    <label for="username">Password:</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter password"
      required
    />
  </div>

  <div id="input-box">
    <div><a href="{% url 'forget_password_page'%}">Forget Password?</a></div>
    <button class="btn" id="login">Login</button>
  </div>
</form>
<div class="social-box">
  <div class="social-auth">
    <img src="{% static 'image/fb.png'%}" alt="FB logo" />
    <p>Login with Facebook</p>
  </div>
  <div class="social-auth">
    <img src="{% static 'image/google.png'%}" alt="Google logo" />
    <p>Login with Google</p>
  </div>
</div>

{%endblock%} {% block scripts%}
<script src="{% static '_auth/js-min/login.js'%}"></script>
{%endblock%}
