{% extends 'base.html' %}{% load static %} {% block auth_template %}
<link rel="stylesheet" href="{% static '_auth/css/login.css'%}" />

<title>TourDay | Reset Password</title>
<div class="form-control">
  <h3 id="forget-title">Reset Password</h3>
  <label for="code">Code:</label>
  <input
    type="text"
    name="code"
    id="code"
    placeholder="Enter username or email"
  />
</div>

<div class="form-control">
  <label for="password-1">Password:</label>
  <input
    type="password"
    name="password-1"
    id="password-1"
    placeholder="Enter password"
  />
</div>

<div class="form-control">
  <label for="password-2">Confirm Password:</label>
  <input
    type="password"
    name="password-2"
    id="password-2"
    placeholder="Confirm password"
  />
</div>

<div id="input-box">
  <div><a href="{% url 'forget_password_page'%}">Resend Code</a></div>
  <button class="btn">Save</button>
</div>

{%endblock%}
