{%extends 'layout.html'%} {% load static %}{%block title%}TourDay |
Event{%endblock%} {%block css%}<link
  rel="stylesheet"
  href="{% static 'event/css/dashboard.css'%}"
/>{%endblock%}{% block content %}
<style>
  #nav {
    display: none;
  }
</style>
<div class="root">
  <div class="head">
    <div>
      <i class="material-icons">explore</i>
      <h1>Events</h1>
    </div>
    <div id="add_event">
      <i class="material-icons">add_box</i>
      <h1>Create Event</h1>
    </div>
  </div>
  <div class="row mt-3">
    {%for i in "123456789|make_list"%}
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="items-card">
        <a href="#" class="card-a">
          <div class="card text-white bg-info mb-3" style="max-width: auto">
            <div class="card-header" style="text-align: center">2-10-2024</div>
            <div class="card-body">
              <h5 class="card-title">Tour to Cox's Bazar</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content. Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Saepe, id. Commodi veniam optio
                architecto omnis nam inventore quisquam, consectetur deserunt,
                dolor placeat rem dignissimos amet ipsa debitis quo, reiciendis
                sunt.
              </p>
            </div>
          </div></a
        >
      </div>
    </div>
    {%endfor%}
  </div>
</div>

{%endblock%}
